.google-search-bar {
  margin-top: 10px;
  width: 40%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 13px;
}
.refresh-btn {
  height: 38px;
  top: 16px;
  position: relative;
  margin-right: 11px;
}
