<div class="row justify-content-between" [formGroup]="form" *ngIf="isShow">
  <mat-label class="label" *ngIf="question.controlType != 'calc'">{{question.label}} <span *ngIf="isRequired">*</span>
  </mat-label>
  <img [src]="question.image">

  <div [ngSwitch]="question.controlType">
    <div *ngSwitchCase="'text'" class="row justify-content-between">
      <mat-form-field *ngFor="let field of question.fields" class="multi">
        <input matInput [placeholder]="field.label" [formControlName]="field.key" [id]="field.key" [type]="field.type"
               (focusout)="save()">
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'table'" class="row m-1">
      <div></div>
      <table mat-table [dataSource]="form.controls[question.key].value">
        <ng-container [matColumnDef]="col.key" *ngFor="let col of question.fields">
          <th mat-header-cell *matHeaderCellDef>
            {{ col.label }}
          </th>
          <td mat-cell *matCellDef="let element">
            <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
              <button mat-icon-button  color="primary" *ngSwitchCase="'isEdit'" (click)="removeRow(element.id)">
                  <mat-icon>delete</mat-icon>
              </button>
              <mat-form-field class="form-input" *ngSwitchDefault>
                <input matInput [(ngModel)]="element[col.key]" [placeholder]="col.label" [type]="col.type" [ngModelOptions]="{standalone: true}" (focusout)="save()"/>
              </mat-form-field>
            </div>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <button mat-stroked-button color="primary" (click)="addRow()"><mat-icon>add</mat-icon></button>
    </div>

    <mat-radio-group *ngSwitchCase="'radio'" [id]="question.key" [formControlName]="question.key" (focusout)="save()">
      <mat-radio-button *ngFor="let opt of question.options" [value]="opt.value">{{opt.value}}</mat-radio-button>
      <mat-radio-button [value]="question.custom" *ngIf="question.other">
        <mat-form-field>
          <input matInput placeholder="Anders" [(ngModel)]="question.custom" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </mat-radio-button>
    </mat-radio-group>

    <mat-selection-list *ngSwitchCase="'checkbox'" color="primary" [id]="question.key" [formControlName]="question.key"
                        (focusout)="save()">
      <mat-list-option *ngFor="let opt of question.options" [value]="opt.value">{{opt.value}}</mat-list-option>
      <mat-list-option [value]="question.custom" *ngIf="question.other">
        <mat-form-field>
          <input matInput placeholder="Anders" [(ngModel)]="question.custom" [ngModelOptions]="{standalone: true}"
                 (keydown)="$event.stopPropagation()">
        </mat-form-field>
      </mat-list-option>
    </mat-selection-list>

    <div *ngSwitchCase="'textarea'" class="textarea">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [placeholder]="question.label"
        [formControlName]="question.key" [id]="question.key" (focusout)="save()"
      ></ngx-editor>
    </div>

    <div *ngSwitchCase="'upload'" class="row justify-content-between">
      <ng-container *ngIf="!editing">
        <input (change)="selectFile($event)" type="file" accept="image/*" class="file"
               style="flex: 1; min-width: 200px;">
        <div class="img-container">
          <button *ngIf="getProperty(question.key)?.url" mat-mini-fab color="primary" class="edit-image"
                  (click)="editImage()">
            <mat-icon>edit</mat-icon>
          </button>
          <img #img
               [src]="getProperty(question.key)?.url ? getProperty(question.key).url+'?timeStamp='+timestamp : 'assets/images/placeholder.jpg'">
        </div>
        <mat-error *ngIf="isImageInvalid">Afbeelding is te groot. Max grote is 5mb</mat-error>
      </ng-container>
      <ng-container *ngIf="editing">
        <image-drawing
          [src]="getProperty(question.key)?.url+'?timeStamp='+timestamp"
          cancelBtnText="Annuleren"
          saveBtnText="Opslaan"
          [width]="editorWidth"
          [height]="editorHeight"
          [forceSizeExport]="true"
          outputMimeType="'image/jpeg'"
          [outputQuality]="0"
          [drawingSizes]="{ small: 3, medium: 8, large: 25 }"
          (save)="sendFile($event)"
          (cancel)="cancel()">
        </image-drawing>
      </ng-container>
      <mat-error *ngIf="error">{{error}}</mat-error>
      <div *ngIf="progress.percentage !== 100 && uploading">
        {{progress.percentage}}%
        <mat-progress-bar mode="determinate" [value]="progress.percentage"></mat-progress-bar>
      </div>
    </div>

    <div *ngSwitchCase="'calc'" class="calculation">
      <strong>{{question.label}}</strong> {{eval(question.value)}}
    </div>
  </div>
</div>
