<button mat-raised-button color="accent" class="fullscreen-btn {{fullscreen ? 'fullscreen' : ''}}"
        (click)="toggleFullscreen()">
  <mat-icon>{{fullscreen ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
</button>
<div [ngClass]="fullscreen ? 'fullscreen' : ''" class="form">
  <div class="page">
    <div class="form-header d-flex justify-content-between">
      <div class="logo"><img src="../../../../../assets/images/cropped-logo-differentdoors-diap.png"></div>
      <h1>{{page?.title ? page.title : 'Formulieren klant'}}<br><span>{{dealConfig.values.dealname}}</span></h1>
      <div class="reset-btn">
        <button mat-button color="accent" class="clear" *ngIf="dealConfig.values.dealname !== undefined"
                (click)="clear()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <ng-container *ngIf="dealConfig.values.dealname === undefined" class="w-100">
      <form (ngSubmit)="findDeal()" class="search">
        <mat-error *ngIf="error">{{error}}</mat-error>
        <mat-form-field appearance="fill" class="w-75">
          <mat-label>Deal nummer</mat-label>
          <input matInput type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="dealConfig.values.deal_id">
        </mat-form-field>
        <button mat-raised-button color="accent">
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </ng-container>
    <div class="loading-overlay fixed" *ngIf="loading">
      <div class="loading"></div>
    </div>

    <ng-container *ngIf="dealConfig.values.dealname !== undefined && !form">
      <div class="form-list">
        <h2 class="m-3">Nieuw formulier invullen</h2>
        <div class="search">
<!--          <mat-form-field appearance="fill" class="w-75">-->
<!--            <mat-label>Formulier</mat-label>-->
<!--            <mat-select>-->
<!--              <mat-option *ngFor="let frm of forms()" [value]="frm">-->
<!--                {{getForm(frm).title}}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
          <button mat-flat-button color="primary">Aanmaken
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <hr>
        <h2 class="m-3">Ingevulde formulieren</h2>
        <mat-list>
          <mat-list-item>
            <mat-card class="w-100 h-100">
              <span>Onderhoudsarme Openslaande deur / <small class="text-muted">2022-08-16 13:25</small></span>
            </mat-card>
            <button mat-flat-button color="accent" class="middle-btn"
                    routerLink="/verkoop/formulier/odo?deal=5204097735">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-flat-button color="accent" class="end-btn">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
          <mat-list-item>
            <mat-card class="w-100 h-100">
              <span>Onderhoudsarme Openslaande deur / <small class="text-muted">2022-08-16 13:25</small></span>
            </mat-card>
            <button mat-flat-button color="accent" class="middle-btn" routerLink="/formulier/odo?deal=">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-flat-button color="accent" class="end-btn">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </ng-container>

    <form [formGroup]="form" *ngIf="dealConfig.values.dealname !== undefined && form">
      <mat-tab-group [(selectedIndex)]="tabIndex">
        <mat-tab *ngFor="let tab of page.form" [label]="tab.label">
          <div class="form-content">
            <app-question *ngFor="let question of tab.questions" [question]="question" [form]="form"
                          [dealConfig]="dealConfig"></app-question>
            <mat-error *ngIf="tabIndex == 8 && getFormValidationErrors().length != 0">Controleer de
              velden: {{getFormValidationErrors()}}</mat-error>
            <div class="d-flex justify-content-between mt-3">
              <button mat-raised-button [color]="tabIndex==0 ?'primary': 'accent'" (click)="prev()"
                      [disabled]="tabIndex==0">Vorige
              </button>
              <button mat-raised-button color="accent" (click)="next()" *ngIf="tabIndex!= (tabCount -1)">Volgende
              </button>
              <button mat-raised-button color="accent" (click)="submit()" [disabled]="!form.valid"
                      *ngIf="tabIndex == (tabCount -1)">Offerte maken
              </button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>

  </div>
</div>
