<button mat-raised-button color="accent" class="fullscreen-btn {{fullscreen ? 'fullscreen' : ''}}"
        (click)="toggleFullscreen()">
  <mat-icon>{{fullscreen ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
</button>
<div [ngClass]="fullscreen ? 'fullscreen' : ''" class="form">
  <div class="page">
    <div class="form-header d-flex">
      <img src="../../../../assets/images/cropped-logo-differentdoors-diap.png">
      <h1>ODO openslaande deur</h1>
    </div>
    <ng-container *ngIf="dealConfig.properties.dealname === ''" class="w-100">
      <div class="search">
        <mat-error *ngIf="error">{{error}}</mat-error>
        <mat-form-field appearance="fill" class="w-75">
          <mat-label>Deal nummer</mat-label>
          <input matInput type="number" [(ngModel)]="dealConfig.id">
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="findDeal()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="dealConfig.properties.dealname !== ''">
      <mat-tab-group preserveContent [(selectedIndex)]="tabIndex">
        <mat-tab label="Algemeen">
          <div class="form-content">
            <div class="row">
              <h2 class="w-50">{{dealConfig.properties.dealname}}</h2>
              <button mat-button color="accent" class="clear" (click)="clear()">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
            <div class="row">
              <mat-label class="label">Definitieve bestelmaat</mat-label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="dealConfig.properties.definitieve_bestelmaat"
                               (ngModelChange)="updateDealProp('definitieve_bestelmaat', $event)">
                <mat-radio-button value="Ja">Ja</mat-radio-button>
                <mat-radio-button value="Nee">Nee</mat-radio-button>
              </mat-radio-group>

            </div>
            <div class="row">
              <mat-label class="label">Afmetingen</mat-label>
              <mat-form-field class="w-50">
                <input matInput placeholder="Hoogte" [(ngModel)]="dealConfig.properties.hoogte"
                       (ngModelChange)="updateDealProp('hoogte', $event)">
              </mat-form-field>
              <mat-form-field class="w-50">
                <input matInput placeholder="Breedte" [(ngModel)]="dealConfig.properties.breedte"
                       (ngModelChange)="updateDealProp('breedte', $event)">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-label class="label">Verdeling symmetrisch</mat-label>
              <mat-radio-group [(ngModel)]="verdelingSymetrisch">
                <mat-radio-button value="Ja">Ja</mat-radio-button>
                <mat-radio-button value="other">
                  <mat-form-field>
                    <input matInput placeholder="Anders" [(ngModel)]="customVerdelingSymetrisch"
                           (ngModelChange)="verdelingSymetrisch = 'other'">
                  </mat-form-field>
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <button mat-raised-button disabled (click)="prev()">Vorige</button>
              <button mat-raised-button color="accent" (click)="next()">Volgende</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Buitenzijde">
          <div class="form-content">
            <div class="row">
              <mat-label class="label">Model</mat-label>
              <img src="assets/forms/odo/69c3bd73-a00d-48cf-a637-51b1efd1aa9a.png">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="dealConfig.properties.model"
                               (ngModelChange)="updateDealProp('model', $event)">
                <mat-radio-button value="Verticaal">Verticaal</mat-radio-button>
                <mat-radio-button value="Horizontaal">Horizontaal</mat-radio-button>
                <mat-radio-button value="Volledig vlakke plaat - ODO300">Volledig vlakke plaat - ODO300
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row">
              <mat-label class="label">Profilering</mat-label>
              <img src="assets/forms/odo/0740c7ed-e7d1-404d-8d12-984b5e8cc979.png">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="dealConfig.properties.profilering"
                               (ngModelChange)="updateDealProp('profilering', $event)">
                <mat-radio-button value="Smal (plancha) ">Smal (plancha)</mat-radio-button>
                <mat-radio-button value="Midden (ligna)">Midden (ligna)</mat-radio-button>
                <mat-radio-button value="Vlak (plano) ">Vlak (plano)</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row">
              <mat-label class="label">Uitstraling</mat-label>
              <img src="assets/forms/odo/92adc622-e173-4baf-8dba-38acdd8816fd.png">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="dealConfig.properties.uitstraling"
                               (ngModelChange)="updateDealProp('uitstraling', $event)">
                <mat-radio-button value="Houtnerf (woodgrain)">Houtnerf (woodgrain)</mat-radio-button>
                <mat-radio-button value="Glad (satin)">Glad (satin)</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row justify-content-between">
              <mat-label class="label">Kleuren</mat-label>
              <img src="assets/forms/odo/2022-05-17 16_23_28-.png">
              <mat-form-field class="w-30">
                <input matInput placeholder="Deur RAL in structuurlak" [(ngModel)]="dealConfig.properties.deur_ral"
                       (ngModelChange)="updateDealProp('deur_ral', $event)">
              </mat-form-field>
              <mat-form-field class="w-30">
                <input matInput placeholder="Kozijn RAL" [(ngModel)]="dealConfig.properties.kozijn_ral"
                       (ngModelChange)="updateDealProp('kozijn_ral', $event)">
              </mat-form-field>
              <mat-form-field class="w-30">
                <input matInput placeholder="Scharnieren RAL" [(ngModel)]="dealConfig.properties.scharnier_ral"
                       (ngModelChange)="updateDealProp('scharnier_ral', $event)">
              </mat-form-field>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <button mat-raised-button color="accent" (click)="prev()">Vorige</button>
              <button mat-raised-button color="accent" (click)="next()">Volgende</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Binnenzijde">
          <div class="form-content">
            <div class="row">
              <mat-label class="label">Paneel</mat-label>
              <img src="assets/forms/odo/56020ab6-c695-4125-b0ba-bd97f79e4204.png">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="dealConfig.properties.paneel"
                               (ngModelChange)="updateDealProp('paneel', $event)">
                <mat-radio-button value="Standaard stucco">Standaard stucco</mat-radio-button>
                <mat-radio-button value="Volledig vlakke plaat - ODO301">Volledig vlakke plaat - ODO301
                </mat-radio-button>
                <mat-radio-button value="Standaard volledig vlak (enkel indien model volledig vlak)">Standaard volledig
                  vlak (enkel indien model volledig vlak)
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row">
              <mat-label class="label">Kleuropties (RAL)</mat-label>
              <mat-radio-group [(ngModel)]="kleuroptie">
                <mat-radio-button value="9016 (standaard)">9016 (standaard)</mat-radio-button>
                <mat-radio-button value="other">
                  <mat-form-field>
                    <input matInput placeholder="Anders" [(ngModel)]="customKleuroptie"
                           (ngModelChange)="kleuroptie = 'other'">
                  </mat-form-field>
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <button mat-raised-button color="accent" (click)="prev()">Vorige</button>
              <button mat-raised-button color="accent" (click)="next()">Volgende</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Deur">
          <div class="form-content">
            <div class="row">
              <mat-label class="label">Draairichting (van buiten gezien)</mat-label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="dealConfig.properties.draairichting"
                               (ngModelChange)="updateDealProp('draairichting', $event)">
                <mat-radio-button value="Naar buiten">Naar buiten</mat-radio-button>
                <mat-radio-button value="Naar binnen">Naar binnen</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row">
              <mat-label class="label">Actieve deur (van buiten gezien)</mat-label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="dealConfig.properties.actieve_deur"
                               (ngModelChange)="updateDealProp('actieve_deur', $event)">
                <mat-radio-button value="Rechts">Rechts</mat-radio-button>
                <mat-radio-button value="Links">Links</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row">
              <mat-label class="label">Krukset deurbeslag</mat-label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="dealConfig.properties.krukset_deurbeslag"
                               (ngModelChange)="updateDealProp('krukset_deurbeslag', $event)">
                <mat-radio-button value="Klink aluminium (standaard)">Klink aluminium (standaard)</mat-radio-button>
                <mat-radio-button value="Knop aluminium (standaard)">Knop aluminium (standaard)</mat-radio-button>
                <mat-radio-button value="Klink zwart - ODO304">Klink zwart - ODO304</mat-radio-button>
                <mat-radio-button value="Knop zwart - ODO306">Knop zwart - ODO306</mat-radio-button>
                <mat-radio-button value="Klink RVS - ODO303">Klink RVS - ODO303</mat-radio-button>
                <mat-radio-button value="Knop RVS - ODO305">Knop RVS - ODO305</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row">
              <mat-label class="label">Cilinder</mat-label>
              <mat-selection-list color="primary" [(ngModel)]="cilinder" (ngModelChange)="updateCilinder()">
                <mat-list-option value="Cilinder leveren (incl. drie sleutels)">Cilinder leveren (incl. drie sleutels)
                </mat-list-option>
                <mat-list-option value="Extra sleutel - ODO308">Extra sleutel - ODO308</mat-list-option>
                <mat-list-option value="Gelijksluitend (bij meedere deuren) - ODO307">Gelijksluitend (bij meedere
                  deuren) - ODO307
                </mat-list-option>
                <mat-list-option value="Draaiknopcilinder">Draaiknopcilinder</mat-list-option>
                <mat-list-option value="Aangeleverd door klant (cilindermaat 40/45 binnen/buitenzijde)">Aangeleverd door
                  klant (cilindermaat 40/45 binnen/buitenzijde)
                </mat-list-option>
                <mat-list-option value="other">
                  <mat-form-field>
                    <input matInput placeholder="Anders" [(ngModel)]="customCilinder">
                  </mat-form-field>
                </mat-list-option>
              </mat-selection-list>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <button mat-raised-button color="accent" (click)="prev()">Vorige</button>
              <button mat-raised-button color="accent" (click)="next()">Volgende</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Glas">
          <div class="form-content">
            <div class="row">
              <img src="assets/forms/odo/b2ba7637-14df-4f41-9a56-f6580bfa9f33.png">
            </div>
            <div class="row">
              <mat-label class="label">Glassectie</mat-label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="dealConfig.properties.glassectie"
                               (ngModelChange)="updateDealProp('glassectie', $event)">
                <mat-radio-button value="N.v.t.">N.v.t.</mat-radio-button>
                <mat-radio-button value="Horizontaal - HR++ helder glas - ODO200">Horizontaal - HR++ helder glas -
                  ODO200
                </mat-radio-button>
                <mat-radio-button value="Horizontaal - HR++ melk glas - ODO201">Horizontaal - HR++ melk glas - ODO201
                </mat-radio-button>
                <mat-radio-button value="Verticaal - HR++ helder glas - ODO202">Verticaal - HR++ helder glas - ODO202
                </mat-radio-button>
                <mat-radio-button value="Verticaal - HR++ melk glas - ODO203">Verticaal - HR++ melk glas - ODO203
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row">
              <mat-label class="label">Netto glasmaat</mat-label>
              <mat-form-field>
                <input matInput placeholder="Maat" [(ngModel)]="dealConfig.properties.netto_glasmaat"
                       (ngModelChange)="updateDealProp('netto_glasmaat', $event)">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-label class="label">Glassectie in vleugel</mat-label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="dealConfig.properties.glassectie_in_vleugel"
                               (ngModelChange)="updateDealProp('glassectie_in_vleugel', $event)">
                <mat-radio-button value="Beide">Beide</mat-radio-button>
                <mat-radio-button value="Actieve deur">Actieve deur</mat-radio-button>
                <mat-radio-button value="Passieve deur">Passieve deur</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <button mat-raised-button color="accent" (click)="prev()">Vorige</button>
              <button mat-raised-button color="accent" (click)="next()">Volgende</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Montage">
          <div class="form-content">
            <div class="row">
              <mat-label class="label">Montage</mat-label>
              <mat-radio-group [(ngModel)]="montage">
                <mat-radio-button value="Binnenzijde gelijk met binnenmuur">Binnenzijde gelijk met binnenmuur
                </mat-radio-button>
                <mat-radio-button value="other">
                  <mat-form-field>
                    <input matInput placeholder="Anders" [(ngModel)]="customMontage"
                           (ngModelChange)="montage = 'other'">
                  </mat-form-field>
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row">
              <mat-label class="label">Bestaande deur</mat-label>
              <mat-selection-list color="primary" [(ngModel)]="_bestaandeDeur" (ngModelChange)="updateBestaandeDeur()">
                <mat-list-option value="Demontage DD - ODO401">Demontage DD - ODO401</mat-list-option>
                <mat-list-option value="Afvoer DD - ODO402">Afvoer DD - ODO402</mat-list-option>
                <mat-list-option value="Demontage door klant">Demontage door klant</mat-list-option>
                <mat-list-option value="Afvoer door klant">Afvoer door klant</mat-list-option>
              </mat-selection-list>
            </div>
            <div class="row">
              <mat-label class="label">Type deur</mat-label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="dealConfig.properties.type_deur"
                               (ngModelChange)="updateDealProp('type_deur', $event)">
                <mat-radio-button value="N.v.t.">N.v.t.</mat-radio-button>
                <mat-radio-button value="Sectionaaldeur">Sectionaaldeur</mat-radio-button>
                <mat-radio-button value="Kanteldeur">Kanteldeur</mat-radio-button>
                <mat-radio-button value="Houten kozijn en deuren">Houten kozijn en deuren</mat-radio-button>
                <mat-radio-button value="Rolluik">Rolluik</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <button mat-raised-button color="accent" (click)="prev()">Vorige</button>
              <button mat-raised-button color="accent" (click)="next()">Volgende</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Afwerking">
          <div class="form-content">
            <div class="row">
              <mat-label class="label">Vloeraanpassing</mat-label>
              <mat-selection-list color="primary" [(ngModel)]="_vloeraanpassing"
                                  (ngModelChange)="updateVloeraanpassing()">
                <mat-list-option value="N.v.t.">N.v.t.</mat-list-option>
                <mat-list-option value="Uithakken vloer - ODO403">Uithakken vloer - ODO403</mat-list-option>
                <mat-list-option value="Aansmeren vloer - ODO404">Aansmeren vloer - ODO404</mat-list-option>
              </mat-selection-list>
            </div>
            <div class="row">
              <mat-label class="label">Aftimmering binnenzijde</mat-label>
              <img src="assets/forms/odo/79cc52f6-13ec-4fc4-bd46-1d63942001c1.png">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="dealConfig.properties.aftimmering_binnenzijde"
                               (ngModelChange)="updateDealProp('aftimmering_binnenzijde', $event)">
                <mat-radio-button value="Klant kiest voor geen binnenaftimmering">Klant kiest voor geen
                  binnenaftimmering
                </mat-radio-button>
                <mat-radio-button value="Enkel tussen kozijn en muur afpurren">Enkel tussen kozijn en muur afpurren
                </mat-radio-button>
                <mat-radio-button
                  value="Multipaint d.m.v. lijstje rondom (exclusief schilderen, lijstje van max 80mm breed) - ODO405">
                  Multipaint d.m.v. lijstje rondom (exclusief schilderen, lijstje van max 80mm breed) - ODO405
                </mat-radio-button>
                <mat-radio-button value="Multipaint volledig (exclusief schilderen) - ODO406">Multipaint volledig
                  (exclusief schilderen) - ODO406
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row">
              <mat-label class="label">Bouwkundig aanpassingen</mat-label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="dealConfig.properties.bouwkundig_aanpassingen"
                               (ngModelChange)="updateDealProp('bouwkundig_aanpassingen', $event)">
                <mat-radio-button value="N.v.t.">N.v.t.</mat-radio-button>
                <mat-radio-button value="Door klant volgens details DD">Door klant volgens details DD</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <button mat-raised-button color="accent" (click)="prev()">Vorige</button>
              <button mat-raised-button color="accent" (click)="next()">Volgende</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Overige">
          <div class="form-content">
            <div class="row">
              <mat-label class="label">Indicatie van montage uren</mat-label>
              <mat-selection-list color="primary" [(ngModel)]="_indicatioMontageUren"
                                  (ngModelChange)="updateIndicatieMontageuren()">
                <mat-list-option value="Plaatsen nieuwe deur - 2 uur">Plaatsen nieuwe deur - 2 uur</mat-list-option>
                <mat-list-option value="Demontage kanteldeur - 0.5 uur">Demontage kanteldeur - 0.5 uur</mat-list-option>
                <mat-list-option value="Demontage houten openslaande deuren - 1 uur">Demontage houten openslaande deuren
                  - 1 uur
                </mat-list-option>
                <mat-list-option value="Aansmeren vloer - 0.5 uur">Aansmeren vloer - 0.5 uur</mat-list-option>
                <mat-list-option value="Aftimmeren binnenzijde lijstje rondom - 0.5 uur">Aftimmeren binnenzijde lijstje
                  rondom - 0.5 uur
                </mat-list-option>
                <mat-list-option value="Aftimmeren binnenzijde compleet - 2 uur">Aftimmeren binnenzijde compleet - 2
                  uur
                </mat-list-option>
                <mat-list-option value="Aftimmeren buitenzijde - 1 uur">Aftimmeren buitenzijde - 1 uur</mat-list-option>
              </mat-selection-list>
            </div>
            <div class="row">
              <mat-label class="label">Overige opmerkingen (klant)</mat-label>
              <mat-form-field class="textarea">
              <textarea matInput placeholder="Opmerking" [(ngModel)]="dealConfig.properties.overige_opmerkingen_klant"
                        (ngModelChange)="updateDealProp('overige_opmerkingen_klant', $event)">
              </textarea>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-label class="label">Overige opmerkingen (intern)</mat-label>
              <mat-form-field class="textarea">
              <textarea matInput placeholder="Opmerking" [(ngModel)]="dealConfig.properties.overige_opmerkingen_intern"
                        (ngModelChange)="updateDealProp('overige_opmerkingen_intern', $event)">
              </textarea>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-label class="label">Materiaal te bestellen door werkvoorbereiding</mat-label>
              <mat-form-field class="textarea">
              <textarea matInput placeholder="Opmerking"
                        [(ngModel)]="dealConfig.properties.materiaal_te_bestellen_door_werkvoorbereiding"
                        (ngModelChange)="updateDealProp('materiaal_te_bestellen_door_werkvoorbereiding', $event)">
              </textarea>
              </mat-form-field>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <button mat-raised-button color="accent" (click)="prev()">Vorige</button>
              <button mat-raised-button color="accent" (click)="next()">Volgende</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Foto's">
          <div class="form-content">
            <div class="row">
              <mat-label class="label">Foto / schets (voor klant)</mat-label>
              <input type="file" accept="image/*" class="file">
            </div>
            <div class="row">
              <mat-label class="label">Foto buitenzijde deur</mat-label>
              <input type="file" accept="image/*" class="file">
            </div>
            <div class="row">
              <mat-label class="label">Foto binnenzijde deur</mat-label>
              <input type="file" accept="image/*" class="file">
            </div>
            <div class="d-flex justify-content-between mt-3">
              <button mat-raised-button color="accent" (click)="prev()">Vorige</button>
              <button mat-raised-button color="accent" (click)="next()">Versturen</button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
  </div>

</div>
