mat-card {
  margin-top: 20px !important;
}
mat-card-title {
  margin-bottom: 15px;
}
.bday-item {
  padding: 10px 0;
  border-top: 0.5px solid lightgray;
  .date {
    margin-right: 10px;
    width: 60px;
    text-align: center;
    background: #f1f1f1;
    border-radius: 5px;
    border: 0.5px solid #334d9c;

    .month {
      padding: 2px 0px;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 5px;
      height: 24px;
    }

    .day {
      padding: 5px 0;
      font-weight: 700;
      font-size: 1.5em;
    }
  }

  .bday-user {
    h2 {
      margin: 0;
    }
  }
  &.today {
    background-color: #ffc1051a;
    .date {
      border: 0.5px solid #ffc107;
      .month {
        background-color: #ffc107 !important;
        z-index: 1;
        &::after {
          content: '';
          width: 43px;
          height: 43px;
          background: url("../../../assets/images/party-hat.png") no-repeat;
          top: -44px;
          left: 33px;
          background-size: 43px;
          position: relative;
          display: inline-block;
        }
      }
    }
  }
}

