<mat-card class="mt-2">
  <mat-card-title><mat-icon>cake</mat-icon> Verjaardagen</mat-card-title>
  <mat-card-content>
    <div class="text-center w-100" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <mat-error *ngIf="error">{{error}}</mat-error>
    <div class="bday-list">
      <div *ngFor="let bday of bdays" class="bday-item d-flex">
        <div class="text-center date">
          <div class="month mat-accent strong">
            {{bday.start.dateTime | date: 'MMM'}}
          </div>
          <div class="day">
            {{bday.start.dateTime | date: 'd'}}
          </div>
        </div>
        <div class="bday-user">
          <h2>
            {{bday.subject}}
          </h2>
          {{2022 - bday.bodyPreview}} jaar
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
