mat-card-title {
  margin-bottom: 15px;
}
.bday-item {
  padding: 10px 0;
  border-top: 0.5px solid lightgray;
  .date {
    margin-right: 10px;
    width: 60px;
    text-align: center;
    background: #f1f1f1;
    border-radius: 5px;
    border: 0.5px solid #334d9c;

    .month {
      padding: 2px 0px;
      font-weight: 700;
      text-transform: uppercase;
      background: #334d9c;
      border-radius: 5px;
      color: white;
    }

    .day {
      padding: 5px 0;
      font-weight: 700;
      font-size: 1.5em;
    }
  }

  .bday-user {
    h2 {
      margin: 0;
    }
  }
}

