<mat-card class="mt-2">
  <mat-card-title><mat-icon>cake</mat-icon> Verjaardagen</mat-card-title>
  <mat-card-content>
    <div class="bday-list">
      <div class="bday-item d-flex">
        <div class="text-center date">
          <div class="month strong">
            Nov
          </div>
          <div class="day">
            23
          </div>
        </div>
        <div class="bday-user">
          <h2>
            Roel Geelen
          </h2>
          24 jaar
        </div>
      </div>
      <div class="bday-item d-flex">
        <div class="text-center date">
          <div class="month strong">
            Nov
          </div>
          <div class="day">
            23
          </div>
        </div>
        <div class="bday-user">
          <h2>
            Roel Geelen
          </h2>
          24 jaar
        </div>
      </div>
      <div class="bday-item d-flex">
        <div class="text-center date">
          <div class="month strong">
            Nov
          </div>
          <div class="day">
            23
          </div>
        </div>
        <div class="bday-user">
          <h2>
            Roel Geelen
          </h2>
          24 jaar
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
