mat-card {
  min-width: 350px;
  margin-left: 20px;
}

.cart-items {
  margin-bottom: 20px;

  .item {
    border-bottom: 1px solid black;
    padding: 10px;

    .item-name {
      width: 50%;
      padding: 7px 0;
    }
  }
}
