<div class="d-flex justify-content-between">
  <h1>Berichten</h1>
  <button mat-flat-button color="accent" routerLink="/admin/nieuws/create">
    Nieuw <mat-icon>add</mat-icon>
  </button>
</div>
<hr>
<div class="text-center w-100" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<mat-list *ngIf="!loading">
  <mat-list-item *ngFor="let post of posts">
    <mat-card class="w-100 h-100">
      <mat-icon *ngIf="post.image">image</mat-icon> <span>{{post.title}} / <small class="text-muted">{{post.date | date: 'dd-MM-yyyy'}}</small></span>
    </mat-card>
    <button mat-flat-button color="accent" class="middle-btn" routerLink="/admin/nieuws/{{post.id}}/update">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-flat-button color="accent" class="end-btn" (click)="delete(post)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
  <span *ngIf="posts.length === 0">
    Nog geen berichten!
  </span>
</mat-list>

