<mat-toolbar color="primary" *ngIf="isUser">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a routerLink="/"><img src="/assets/images/img.png" height="50" alt=""></a>
  <div fxShow="true" fxHide.lt-md="true" *ngFor="let page of pages">
    <button mat-button [routerLink]="page.url">{{page.title}}</button>
  </div>
  <mat-menu class="profile-menu" #graphsMenu="matMenu">
    <a mat-menu-item routerLink="/graph/production">
      <mat-icon>bar_chart</mat-icon>
      Productie</a>
    <a mat-menu-item routerLink="/graph/inmeten">
      <mat-icon>table_chart</mat-icon>
      Inmeten</a>
    <a mat-menu-item routerLink="/graph/magazijn">
      <mat-icon>bar_chart</mat-icon>
      Magazijn</a>
  </mat-menu>
  <span class="nav-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true" class="media align-items-center user-profile" [matMenuTriggerFor]="loginMenu">
    <span class="avatar avatar-sm rounded-circle">
      <img [src]="currentUser.image ? currentUser.image : 'assets/images/user_placeholder.png'">
    </span>
    <span class="mb-0 text-sm  font-weight-bold">{{currentUser.name}}</span>
  </div>
  <div fxShow="true" fxHide.gt-sm="true" class="media align-items-center user-profile small" [matMenuTriggerFor]="loginMenu">
    <span class="avatar avatar-sm rounded-circle">
      <img [src]="currentUser.image ? currentUser.image : 'assets/images/user_placeholder.png'">
    </span>
  </div>
  <mat-menu class="profile-menu" #loginMenu="matMenu">
    <a mat-menu-item href="https://myaccount.microsoft.com/" target="_blank">
      <mat-icon>perm_identity</mat-icon>
      Mijn account
    </a>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      logout
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container fxFlexFill class="container">
  <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
    <div fxLayout="column" *ngFor="let page of pages">
      <a mat-button [routerLink]="page.url" (click)="sidenav.toggle()"><mat-icon>{{page.icon}}</mat-icon> {{page.title}}</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <div class="minHeight">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  <!-- credits -->
  <div class="footer">
    <div id="development">
      <a class="" rel="nofollow">
        <span>Different group v0.0.1</span><br>
      </a>
    </div>
  </div>
</mat-sidenav-container>


