<div *ngIf="isUser">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <app-navbar></app-navbar>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="container">
    <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <mat-tree [dataSource]="pages" [treeControl]="treeControl" class="example-tree">
        <ng-container *matTreeNodeDef="let node">
          <mat-tree-node [class.d-none]="!hasPermission(node.roles)" matTreeNodeToggle>
            <a *ngIf="hasPermission(node.roles)" mat-menu-item [routerLink]="node.url" (click)="sidenav.toggle()">
              <mat-icon>{{node.icon}}</mat-icon>
              {{node.title}}</a>
          </mat-tree-node>
        </ng-container>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node" *ngIf="hasPermission(node.roles)">
            <button mat-menu-item matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.title">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
              {{node.title}}
            </button>
          </div>
          <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" *ngIf="hasPermission(node.roles)"
               role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>

      </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="minHeight">
        <router-outlet></router-outlet>
      </div>
      <!-- credits -->
      <div class="footer">
        <div id="development">
          <a href="https://get.teamviewer.com/differentdoorsqs">
            <span>Different group - v2.0</span> | <span>Support</span><br>
          </a>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
