<div class="content">
  <div class="layout-content">
    <div class="d-flex flex-flow">
      <div class="w-100">
        <h1>{{welkom}}, {{currentUser.name}}</h1>
        <app-blog-post></app-blog-post>
      </div>
      <div class="widgets">
        <app-weather-widget></app-weather-widget>
        <app-birthday-widget class="mt-2"></app-birthday-widget>
      </div>
    </div>

    <div class="card-links" *ngIf="isKANTOOR">
      <mat-card class="mat-elevation-z4" *ngFor="let link of links">
        <div class="img">
          <img mat-card-image [src]="link.img">
        </div>
        <mat-card-actions>
          <a mat-raised-button color="accent" target="_blank" [href]="link.link">Ga naar {{link.title}}</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
