h1 {
  font-size: 1.7rem;
  border-bottom: 1px solid darkgray;
  padding-bottom: 15px;
}

.card-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  mat-card {
    width: 280px;
    margin: 10px 0 10px 0;
    .img {
      height: 100px;
      img {
        transform: translateY(-50%);
        top: 50%;
        position: relative;
        width: 100%;
        margin: 0;
      }
    }
  }
}
mat-card {
  width: 100%;
  margin: 0 10px 0 0;
}
app-weather-widget {
  margin: 0 auto !important;
}
.mat-card {
  .card-header {
    background-color: transparent;
  }
}
app-weather-widget {
  margin-left: 10px;
}
.widgets {
  margin-left: 20px;
}
@media only screen and (max-width: 678px) {
  h1{
    margin-right: 0;
  }
  mat-card {
    margin: 0 0 10px 0;
  }
  .card-links {
    justify-content: space-around;
    mat-card {
      width: 200px;
    }
  }
  .flex-flow {
    flex-flow: row wrap;
  }
  .widgets {
    margin: 1rem auto 0 auto;
  }
}

@media only screen and (max-width: 518px) {
  .card-links {
    mat-card {
      width: 100%;
    }
  }
}
