mat-spinner {
  margin: 0 auto;
}

.google-search-bar {
  margin-top: 10px;
  width: 40%;
  padding: 8px;
  border-radius: 5px;
  border: 0;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  font-size: 13px;
  left: 31%;
  top: 200px;
  position: absolute;
}

.refresh-btn {
  margin-left: 11px;
}

.slider, mat-slider {
  width: 150px;
  height: 33px;
  background-color: white !important;
  border-radius: 5px;
}

.slider {
  position: absolute;
  z-index: 1;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  top: 155px;
  right: 33px;
}

.mat-button-toggle-group {
  flex-wrap: wrap;
}

.mat-button-toggle-checked {
  background-color: #049693 !important;
}

::ng-deep {
  .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 15px;
  }

  .mat-accent .mat-slider-track-fill {
    background-color: #334d9c !important;
  }

  .mat-slider-thumb-label {
    background-color: #334d9c !important;
    width: 33px !important;
    height: 33px !important;
  }

  .mat-slider-thumb-label-text {
    color: white !important;
  }

  .mat-slider-thumb {
    background-color: #334d9c !important;
  }

  .gm-fullscreen-control {
    top: 50px !important;
  }
}

.loading-overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.5);

  .loading {
    height: 40px;
    width: 40px;
  }
}

.table tr {
  &:hover {
    cursor: pointer;
  }
  &.selected {
    background-color: #049693 !important;

    td {
      color: white;
    }
  }
}
