<div class="d-flex filter">
  <div class="text-center w-100" *ngIf="loadingCals">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Agenda's</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let owner of owners"
        (removed)="remove(owner.id)">
        <img matChipAvatar [src]="owner.icon"/>
        {{owner.name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Agenda toevoegen..."
        #calendarInput
        [formControl]="calendarCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let cal of filteredCalendars | async" [value]="cal">
        {{cal.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="d-flex search-filter">
    <div class="cal-filter d-flex">
      <button mat-raised-button color="primary" (click)="filterCals('hout')">Hout</button>
      <button mat-raised-button color="primary" (click)="filterCals('onderhoudsarm')">Onderhoudsarm</button>
    </div>
    <button
      mat-raised-button
      mwlCalendarPreviousView
      color="primary"
      class="btn-prev"
      [view]="'week'"
      [(viewDate)]="viewDate"
      (viewDateChange)="setSelectedWeek()"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <mat-form-field appearance="fill" class="h-100">
      <mat-label>Selecteer een week</mat-label>
      <mat-date-range-input [rangePicker]="picker" disabled>
        <input matStartDate placeholder="Start datum" [(ngModel)]="start">
        <input matEndDate placeholder="Eind datum" [(ngModel)]="end" (dateChange)="selectWeek()">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      mwlCalendarNextView
      [view]="'week'"
      [(viewDate)]="viewDate"
      (viewDateChange)="setSelectedWeek()"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button mat-flat-button color="primary" class="refresh-btn" (click)="onSearch()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>
<div class="slider bg-white">
  <mat-slider
    thumbLabel
    [value]="distance"
    (valueChange)="onInputChange($event)"
    [displayWith]="formatLabel"
    step="5"
    min="10"
    max="100"
    aria-label="units"></mat-slider>
</div>
<input #mapSearchField class="google-search-bar" type="text" placeholder="Search" aria-label="Search"
       aria-describedby="search-addon" [(ngModel)]="address"/>
<div>
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading"></div>
  </div>
  <google-map
    height="40vh"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
  >
    <map-marker
      #somemarker="mapMarker"
      *ngFor="let marker of markers"
      [position]="marker.position"
      [label]="marker.label"
      [title]="marker.title"
      [options]="marker.options"
      (mapClick)="openInfo(somemarker, marker.info)"
    >
    </map-marker>
    <map-circle
      *ngFor="let rad of radius"
      [center]="rad.center"
      [radius]="rad.radius"
      [options]="rad.options"></map-circle>
    <map-info-window>{{ infoContent }}</map-info-window>
  </google-map>
</div>
<mwl-calendar-week-view
  [viewDate]="viewDate"
  [events]="events"
  [dayStartHour]="6"
  [refresh]="refresh"
  (eventClicked)="openDialog($event.event)"
  [weekStartsOn]="1">
</mwl-calendar-week-view>
<div class="text-center w-100" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>


