mat-spinner {
  margin: 0 auto;
}

.filter {
  margin-bottom: -20px;
  .search-filter {
    margin-left: 11px;
    .cal-filter {
      margin-right: 11px;
      button:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      button:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    button {
      height: 52px;
      margin: auto;
      &.refresh-btn {
        margin-left: 11px;
      }
    }
  }

}

.google-search-bar {
  margin-top: 10px;
  width: 40%;
  padding: 8px;
  border-radius: 5px;
  border: 0;
  box-shadow: rgb(0 0 0 / 30%) 0 1px 4px -1px;
  font-size: 13px;
  left: 31%;
  top: 200px;
  position: absolute;
}

.btn-prev {
  margin-left: 11px;
}

.refresh-btn {
  margin-left: 11px;
}

.slider, mat-slider {
  width: 150px;
  height: 33px;
  background-color: white !important;
  border-radius: 5px;
}

.slider {
  position: relative;
  z-index: 1;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  top: 43px;
  left: calc(100vw - 225px);
}

.mat-button-toggle-group {
  flex-wrap: wrap;
}

.mat-button-toggle-checked {
  background-color: #049693 !important;
}

::ng-deep {
  .nearby {
    .cal-event {
      border: 4px solid #00d10e !important;
    }
  }
  .cal-event {
    img {
      height: 20px;
    }
  }
  .filter {
    .search-filter {
      mat-form-field {
        height: 52px !important;
        margin: auto;
      }
    }
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    .mat-form-field-underline {
      display: none;
    }
    .mat-date-range-input-inner[disabled] {
      color: rgba(0, 0, 0, 1);
    }
  }
  .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 15px;
  }

  .mat-accent .mat-slider-track-fill {
    background-color: #334d9c !important;
  }

  .mat-slider-thumb-label {
    background-color: #334d9c !important;
    width: 33px !important;
    height: 33px !important;
  }

  .mat-slider-thumb-label-text {
    color: white !important;
  }

  .mat-slider-thumb {
    background-color: #334d9c !important;
  }

  .gm-fullscreen-control {
    top: 50px !important;
  }
}

.loading-overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.5);

  .loading {
    height: 40px;
    width: 40px;
  }
}
