.card-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  mat-card {
    width: 280px;
    margin: 10px 0 10px 0;
    .img {
      height: 150px;
      overflow: hidden;
      img {
        margin-top: -30%;
      }
    }
  }
}
