mat-card, mat-form-field {
  width: 100%;
}

.side {
  margin-left: 20px;
  h3{
    margin: 0;
  }
  img {
    margin: 8px 0 20px 0;
  }
}
h2 {
  small {
    font-size: 12px;
  }
}
textarea {
  min-height: 200px;
}

.text-success {
  span {
    padding: 5px;
    position: relative;
    top: -6px;
  }
}

mat-progress-bar {
  margin-bottom: 20px;
}

.NgxEditor__Wrapper {
  height: 300px;
  margin-bottom: 20px;
}

::ng-deep .NgxEditor__Content {
  height: 260px;
  overflow: auto;
}
