<div class="card-links">
  <mat-card class="mat-elevation-z4" *ngFor="let graph of graphs">
    <mat-card-header>
      <mat-card-title>{{graph.title}}</mat-card-title>
    </mat-card-header>
    <div class="img">
      <img mat-card-image [src]="graph.img">
    </div>
    <mat-card-content>
      {{graph.content}}
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" [routerLink]="graph.link">Ga naar {{graph.title}}</a>
    </mat-card-actions>
  </mat-card>
</div>
