<a routerLink="/"><img src="/assets/images/logo_different-doors-witte-letters.svg" height="50" alt=""></a>
<div fxShow="true" fxHide.lt-md="true" *ngFor="let page of pages">
  <ng-container *ngIf="page.pages && hasPermission(page.roles)">
    <button mat-button [matMenuTriggerFor]="menu" #menuPages="matMenuTrigger">{{page.title}}</button>
    <mat-menu class="profile-menu" #menu="matMenu">
      <mat-tree [dataSource]="page.pages" [treeControl]="treeControl" class="example-tree">
        <ng-container *matTreeNodeDef="let node">
          <mat-tree-node *ngIf="hasPermission(node.roles)" matTreeNodeToggle>
            <a *ngIf="!node.extern" mat-menu-item [routerLink]="node.url" (click)="closeMe(menuPages)">
              <mat-icon>{{node.icon}}</mat-icon>
              {{node.title}}</a>
            <a *ngIf="node.extern" mat-menu-item [href]="node.url" target="_blank">
              <mat-icon>{{node.icon}}</mat-icon>
              {{node.title}}</a>
          </mat-tree-node>
        </ng-container>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node" *ngIf="hasPermission(node.roles)">
            <button mat-menu-item matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.title">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
              {{node.title}}
            </button>
          </div>
          <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" *ngIf="hasPermission(node.roles)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    </mat-menu>
  </ng-container>
  <ng-container *ngIf="!page.pages && hasPermission(page.roles)">
    <button mat-button [routerLink]="page.url">{{page.title}}</button>
  </ng-container>
</div>
<span class="nav-spacer"></span>
<div fxShow="true" fxHide.lt-md="true" class="media align-items-center user-profile" [matMenuTriggerFor]="loginMenu">
  <span class="mb-0 text-sm  font-weight-bold">{{currentUser.name}}</span>
  <span class="avatar avatar-sm rounded-circle">
    <img [src]="currentUser.image ? currentUser.image : 'assets/images/user_placeholder.png'">
  </span>
</div>
<div fxShow="true" fxHide.gt-sm="true" class="media align-items-center user-profile small"
     [matMenuTriggerFor]="loginMenu">
    <span class="avatar avatar-sm rounded-circle">
      <img [src]="currentUser.image ? currentUser.image : 'assets/images/user_placeholder.png'">
    </span>
</div>
<mat-menu class="profile-menu" #loginMenu="matMenu">
  <a mat-menu-item href="https://myaccount.microsoft.com/" target="_blank">
    <mat-icon>perm_identity</mat-icon>
    Mijn account
  </a>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    logout
  </button>
</mat-menu>

