
.media {
  display: flex;
  align-items: flex-start;

  &.user-profile {
    &.small {
      margin-right: 0;

      .avatar {
        margin-right: 0;
      }
    }

    margin-right: 1rem;
    font-size: 17px;
    cursor: pointer;

    .avatar {
      font-size: 1rem;
      display: inline-flex;
      width: 42px;
      height: 42px;
      color: #fff;
      border-radius: 50%;
      background-color: #adb5bd;
      align-items: center;
      justify-content: center;
      margin-right: 10px;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }
}

::ng-deep .profile-menu {
  margin-top: 10px;
}

.nav-spacer {
  flex: 1 1 auto;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 10px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 10px;
}
