.filter {
  margin-bottom: 20px;
  .type-filter {
    margin-left: 20px;
  }
}
::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.mobile-label {
  display: none;
}

.mat-column-s {
  flex: 0 0 50px;
}
.mat-column-m {
  flex: 0 0 80px;
}
.mat-column-l {
  flex: 0 0 110px;
}
.mat-column-xl {
  flex: 0 0 150px;
}

@media(max-width: 959px) {
  .mat-column-s, .mat-column-m, .mat-column-l, .mat-column-xl {
    flex: 0;
  }
  .mobile-label {
    width: 120px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
  mat-cell {
    min-height: auto;
    align-items: baseline;
    flex-wrap: wrap;
    &:first-of-type {
      padding: 0;
    }
  }
  .mat-column-shortMemo, .mat-column-memo {
    padding: 0;
  }
}
