<mat-spinner *ngIf="loading"></mat-spinner>
<mat-form-field appearance="fill" class="h-100">
  <mat-label>Selecteer datum</mat-label>
  <mat-date-range-input [rangePicker]="picker" disabled>
    <input matStartDate placeholder="Start datum" [(ngModel)]="start">
    <input matEndDate placeholder="Eind datum" [(ngModel)]="end" (dateChange)="getTable()">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
</mat-form-field>
<div class="chart-scroll">
  <mat-table [dataSource]="tableData" *ngIf="!loading">
    <!-- Deadline Column -->
    <ng-container matColumnDef="deadline">
      <mat-header-cell *matHeaderCellDef> Uitvoer datum </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Uitvoerdatum:</span>
        {{element.deadline}}
      </mat-cell>
    </ng-container>
    <!-- Time-->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> Tijd </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Tijd:</span>
        {{element.city}}
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Project nummer </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Project nummer:</span>
        {{element.name}}
      </mat-cell>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Monteur </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Monteur:</span>
        {{element.description}}
      </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="shortDescription">
      <mat-header-cell *matHeaderCellDef> Omschrijving </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Omschrijving:</span>
        {{element.shortDescription}}
      </mat-cell>
    </ng-container>

    <!-- Short description Column -->
    <ng-container matColumnDef="link">
      <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Link:</span>
        <a [href]="'https://info.differentdoors.nl/configuratie-menu/montage/p'+ element.name" target="_blank">Configuratie</a>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
