/* You can post global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body { margin: 0; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.content {
  padding: 8px;
  .layout-content {
    margin: 16px;
    box-sizing: border-box;
  }
}

mat-spinner {
  margin:10px auto;
}

//.mat-primary{
//  background: #231e1f !important;
//}
.mat-accent {
  background: #334d9c !important;
  color: white !important;
}
