/* You can post global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body { margin: 0; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.content {
  padding: 8px;
  .layout-content {
    margin: 16px;
    box-sizing: border-box;
  }
}

mat-spinner {
  margin:10px auto;
}

//.mat-primary{
//  background: #231e1f !important;
//}
.mat-accent {
  background: #334d9c !important;
  color: white !important;
}

//loading

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fafafa;
}

.loading {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  margin: -15px 0 0 -15px;
  width: 40px;
  height: 40px;

  animation: loading 2s infinite ease-in-out;
}

@keyframes loading {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    background-color: #189383;
  }

  50% {
    transform: perspective(120px) rotateX(180deg) rotateY(0deg);
    background-color: #233588;
  }

  100% {
    transform: perspective(120px) rotateX(180deg) rotateY(-180deg);
    background-color: #189383;
  }
}
