$gradient: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.25em;
}

.clear {
  clear: both;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #343d4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container {
  border-radius: 25px;
  -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  background-color: #222831;
  color: #ffffff;
  width: 332px;
  height: 320px;
  padding: 0;
}

.weather-side {
  position: relative;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  float: left;
  height: 105px;
  display: flex;
  width: 100%;
  img {
    position: absolute;
    top: -60px;
  }
}

.weather-gradient-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 25px;
}

.weather-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: $gradient;
  border-radius: 25px;
  opacity: 0.85;
}

.date-container {
  position: relative;
  top: 15px;
  left: 25px;

  mat-icon {
    font-size: 14px;
  }
}

.date-dayname {
  margin: 0;
}

.date-day {
  display: block;
}

.location {
  display: inline-block;
}

.location-icon {
  display: inline-block;
  height: 0.8em;
  width: auto;
  margin-right: 5px;
}

.weather-container {
  left: 25px;
  position: relative;
  display: flex;
  bottom: 0;
  margin-top: 25px;
  img {
    height: 85px;
    position: relative;
    top: -20px;
    margin: 0 10px;
  }
}

.weather-icon.feather {
  height: 60px;
  width: auto;
}

.weather-temp {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
}

.weather-desc {
  margin: 0;
  line-height: 18px;
  width: 90px;
}

.info-side {
  position: relative;
  float: left;
  height: 100%;
  padding-top: 5px;
}

.today-info {
  padding: 15px;
  border-radius: 10px;

  > div {
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }

    .title {
      float: left;
      font-weight: 700;
    }

    .value {
      float: right;
    }
  }
}

.week-list {
  margin: 10px 15px;
  list-style-type: none;
  padding: 0;
  -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: $gradient;

  > li {
    float: left;
    cursor: pointer;
    -webkit-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
    border-radius: 10px;
    padding: 5px 15px 10px 14px;

    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      background: #fff;
      color: #222831;
      -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    }

    .day-name {
      display: block;
      margin: 0;
      text-align: center;
    }

    .day-icon {
      display: block;
      height: 30px;
      width: auto;
      margin: 0 auto;
    }

    .day-temp {
      display: block;
      text-align: center;
      margin: 0;
      font-weight: 700;
    }
  }

  > li.active {
    background: #fff;
    color: #222831;
    border-radius: 10px;
  }
}
